modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 1874689
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
